flask

python-dotenv

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

langchain
langchain-core
langchain-community

pypdf
python-docx
unstructured

tiktoken

langchain-groq
pandas
